
@import url("./hamburger.css");
@import url("./loader.css");
@import url("./header.css");
@import url("./main.css");
@import url("./carrossel.css");
@import url("./footer.css");
@import url("./modal.css");
@import url("./popover.css");
@import url("./responsive.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --cor1: #71C1F4;
    --cor2: #FD7736;
    scroll-behavior: smooth;
}

body {
    background: aliceblue;
    position: relative;
    overflow-x: hidden;
}

.menu-card-over {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
}
