/* X-Large */
@media (max-width: 1399px)

/* and (min-width: 1200px)  */
  {

  #main-banner .carousel-item {
    background-size: cover !important;
  }

  .main-conteudo .carousel-card-body .card .card-body {
    max-height: auto !important;
    height:auto !important;
  }
}

/* Breakpoint para suavizar a queda do carousel inferior */
@media (max-width: 1245px) {
  .main-conteudo .carousel-card-body .card .card-body {
    max-height: auto !important;
    height:auto !important;
  }
}
  

/* Large */
@media (max-width: 1199px)

/* and (min-width: 992px)  */
  {

  html {
    padding-top: 61px !important;
  }

  header {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  header .box-nav {
    justify-content: space-around;
  }

  header .box-logo {
    display: none;
  }

  header .box-logo-responsive {
    display: block;
  }

  header .box-logo-responsive img {
    height: 45px;
  }

  .nav-bar-responsive {
    position: relative;
    padding: 0.5rem;
  }

  .nav-bar-responsive svg {
    display: block !important;
  }

  .nav-bar {
    display: none !important;
    position: absolute;
    top: 59px;
    left: -59px;
  }

  header .nav-bar>ul>li {
    min-width: 185px;
  }

  header .nav-bar>ul>li>a {
    width: 100%;
  }

  header .nav-bar ul li .nav-bar-sub-menu ul {
    position: static;
    padding-top: 0;
    box-shadow: none;
    padding: 0 !important;
    background-color: #222a51;
  }

  header .nav-bar ul li .nav-bar-sub-menu ul li {
    width: 100%;
  }

  header .nav-bar ul li .nav-bar-sub-menu ul li a {
    padding: 0.5rem;
  }

  .nav-bar-responsive a svg:hover {
    stroke: #FFBA62;
  }

  .nav-bar-responsive:hover .nav-bar {
    display: flex !important;
  }

  header .config-bar {
    padding: 0.5rem;
  }

  header .config-bar>ul>li {
    padding: 0;
  }

  header .nav-bar>ul {
    gap: 0;
    flex-flow: column;
  }

  /* Main */

  #main-banner .bg-mask {
    background: rgba(0, 0, 0, 0.6) !important;
  }

  #main-banner .banner-text {
    height: 100%;
    padding-right: 0 !important;
  }


  #main-banner .carousel-control-next,
  #main-banner .carousel-control-prev {
    width: 8% !important;
  }

  .main-conteudo .carousel-card-body .card h4 {
    font-size: 1.4rem;
  }
  
}



/* Medium */
@media (max-width: 991px)

/* and (min-width: 768px)  */
  {


  .main-conteudo .carousel-card-body .card h4 {
    font-size: 1.4rem;
  }

  .main-conteudo .carousel-card-body {
    display: flex;
    overflow-x: scroll;
  }
}

/* Small */
@media (max-width: 767px)

/* and (min-width: 576px)  */
  {

  /* Navbar */

  header .box-nav {
    justify-content: space-between;
  }

  .nav-bar {
    left: 0;
  }

  header .config-bar>ul>li {
    position: static;
  }

  header .config-bar:hover ul li .config-bar-sub-menu {
    right: 0;
    top: 59px;
  }

  /* Main */

  .main-conteudo {
    padding: 3em 0rem !important;
  }

  .main-conteudo .main-info {
    padding: 0 1rem !important;
    text-align: justify;
  }

  .main-conteudo h3 {
    padding: 0 1rem !important;
    text-align: center;
  }

  .main-conteudo h2 {
    text-align: center;
  }

  .main-conteudo .carousel-euro {
    padding: 0 1% !important;
  }

  .main-conteudo .carousel-inner {
    padding: 0 5% !important;
  }

  /* Footer */

  .footer-info {
    padding: 0.7rem 0 !important;
    flex-flow: column-reverse wrap;
    text-align: center;
  }

  .footer-info .footer-links ul {
    justify-content: center !important;
  }
}


/* X-Small */
@media (max-width: 575px) {

  /* and (min-width: 0)  */

  .main-conteudo .carousel-card-body .card .card-body h4 {
    font-size: 2rem;
  }

}