@import url("/Projeto-bootcamp/assets/css/header.css");
@import url("/Projeto-bootcamp/assets/css/resposive.css");
@import url("/Projeto-bootcamp/assets/css/main.css");
@import url("/Projeto-bootcamp/assets/css/footer.css");
@import url("/Projeto-bootcamp/assets/css/transition.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    color: #cac7c7  !important;
    box-sizing: border-box;
    list-style: none;
    line-height: normal !important;
    font-family: 'Montserrat' !important;
}

html {
    padding-top: 97px;
}

ul {
    margin: 0px !important;
    padding: 0px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

/* Animação */

@keyframes pulsePessoal {
    0% {
        transform: scale3d(1, 1, 1);
        }
        25% {
        transform: scale3d(1.15, 1.15, 1.15);
        }
        50% {
        transform: scale3d(1, 1, 1);
        }
        75% {
        transform: scale3d(1.15, 1.15, 1.15);
        }
        100% {
        transform: scale3d(1, 1, 1);
        }
}

/* Modal modificada */

.modal-modificada .modal-content {
    background-color: #1c213c;;
}

.modal-modificada .modal-content .modal-header {
    border-color: #8d8caa;
    text-align: center;
}

.modal-modificada .modal-content .modal-header h5 {
    color: #FFBA62 !important;
    font-weight: 700 !important;
    text-align: center;
}

.modal-modificada .modal-content .modal-body {
    display: flex;
    flex-flow: column;
    border-color: red;
}

.modal-modificada .modal-content .modal-body img {
    width: 100%;
    margin: 1rem auto;
    box-shadow: 2px 2px 5px black;
}

.modal-modificada .modal-content .modal-body p {
    padding: 1rem 1rem 0;
    text-align: justify;
    font-size: 1.1rem;
}

.modal-modificada .modal-content .modal-footer {
    border-color: transparent;
    justify-content: center;
}

.modal-modificada .modal-content .modal-footer button {
    background-color:#FFBA62;
    border-color:#FFBA62;
    color: rgb(44, 43, 60) !important;
    padding: 0.5rem 3rem;
    font-weight: 600;
}

.modal-modificada .modal-content .modal-footer button:hover {
    background-color: #FFC985;
    border-color: #FFC985;
}



@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}