* {
    --azul-escuro: #0D1F49;
    --cor-detalhes: #88ACC7;
    --cor-botao: #D7AF7E;
    --cor-fundo: #000;
    --cor-sombra: #4d4d4e;


    --cor-do-texto: #d9d9d9;
    
    --azul-claro: #154580;
    --azul-rodape: #04244f;
    --rosa: #c98cf1;
    --roxo: #7b78e5;
    --cinza-claro: #9d9d9d;
    --tag-color: rgba(148, 163, 184,0.3);
    --font-headings: 'bruno-ace-sc';
    
}