@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import "./_variaveis.css";

* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    transition: all 200ms linear;
}

@font-face {
    font-family: bruno-ace-sc;
    src: url('../assets/fonts/Bruno\ Ace\ SC\ Regular.ttf')
}

